body {
    background-color: black;
}

.square {
    width: 100px;
    height: 100px;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}