@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --texto: hsl(193, 38%, 86%);
  --botao-do-cart-e-do-texto: hsl(150, 100%, 66%);
  --card: hsl(217, 19%, 24%);
  --fundo: hsl(218, 23%, 16%);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fundo);
  font-family: "Manrope", sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 370px;
  background-color: var(--card);
  border-radius: 20px;
  padding: 0 60px 0 60px;
  gap: 20px;
}

.container h3 {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 5px;
  color: var(--botao-do-cart-e-do-texto);
}

.container p {
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: var(--texto);
}

.container .img1 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.dice {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: var(--botao-do-cart-e-do-texto);
  border-radius: 100%;
  bottom: -7.5%;
}

.container .img2 {
  height: 24px;
  width: 24px;
}

.dice:hover {
  box-shadow: 0 1px 40px hsl(150, 100%, 66%);
  cursor: pointer;
  transition: 0.3s;
}

.mobile {
  display: none;
}