body {
    background-color: var(--background-color);
    font-family: Kumbh Sans;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nft-card {
    width: 450px;
    height: 510px;
    background-color: white;
    border-radius: 10px;
    padding-top: 50px;
}

img {
    max-width: 100px;
    border-radius: 100px;
    margin-left: 180px;
}

.nome-idade {
    font-weight: 400;
    margin: 5px 0px 0px 150px;
}

.nome-idade span {
    color: var(--text-color);
    margin-left: 8px;
    font-size: 21px;
}

.city {
    font-size: 18px;
    padding-top: 50px;
    margin: 0px 190px 110px;
}

.values {
    border-top: 1px solid lightgrey;
    padding-top: 70px;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
}

.status {
    margin-right: 8px;
    font-weight: 400;
    display: flex;
    justify-content: space-evenly;
}