@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark-cyan);
    font-family: "Kumbh Sans", sans-serif;
}

.container {
    max-width: 300px;
    width: 100%;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    margin: 0 15px;
    overflow: hidden;
}

.container .profile-img {
    border-radius: 20px 20px 0 0;
    border-radius: 100%;
    border: 5px solid #fff;
}

.container header {
    padding: 70px 40px 20px;
    background-image: url("../images/bg-pattern-card.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.dados h3 {
    margin-top: 70px;
    color: var(--Very-dark-desaturated-blue);
}

.dados span {
    color: var(--Dark-grayish-blue);
    font-weight: 400;
    margin-left: 10px;
}

.dados p {
    color: var(--Dark-gray);
    margin-top: 10px;
}

.status-quantity {
    display: flex;
    border-top: 1px solid #ccc;
    justify-content: space-around;
    padding: 20px 0;
}

.status-quantity li h4 {
    font-size: 20px;
}

.status-quantity li p {
    font-size: 11px;
    letter-spacing: 2px;
    color: var(--Dark-gray);
}